[submodule "third_party/three.js"]
	path = third_party/three.js
	url = https://github.com/mrdoob/three.js
[submodule "third_party/raphael"]
	path = third_party/raphael
	url = https://github.com/DmitryBaranovskiy/raphael
[submodule "javascript/lib/inf_img"]
	path = javascript/lib/inf_img
	url = https://github.com/caesarfeta/inf_img.git
[submodule "javascript/lib/barfly"]
	path = javascript/lib/barfly
	url = https://github.com/caesarfeta/barfly.git
[submodule "third_party/dat-gui"]
	path = third_party/dat-gui
	url = https://code.google.com/p/dat-gui/
[submodule "javascript/lib/blok_js"]
	path = javascript/lib/blok_js
	url = https://github.com/caesarfeta/blok_js.git
[submodule "javascript/lib/lsys_js"]
	path = javascript/lib/lsys_js
	url = https://github.com/caesarfeta/lsys_js.git
[submodule "javascript/lib/jslib"]
	path = javascript/lib/jslib
	url = https://github.com/caesarfeta/jslib
[submodule "javascript/lib/jssh"]
	path = javascript/lib/jssh
	url = http://github.com/caesarfeta/jssh
