* > :last-child { 
	margin-bottom: 0 !important; 
	margin-right: 0 !important; 
}
#options {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	background-color: rgba( 0,0,0,0.5 );
	padding: 10px;
}
#about a,
#hint a,
#wait a {
	color: #FFAAAA;
}
#aboutClick {
	display: inline-block;
}
#search {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
}
#search input {
	width: 90%;
	display: inline-block;
}
.bigger {
	font-size: 120%;
}
#about,
#hint,
#wait {
	max-width: 600px;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	color: #EFEFEF;
	background-color: rgba( 0,0,0,0.5 );
	padding: 40px;
}
#about,
#hint,
#wait {
	text-align: center;
}
#imgShell {
	position: absolute;
	z-index: 1;
	overflow-y: scroll;
}
#imgBox img {
	width: 100%;
}
#imgBox .search_mark {
	font-weight: 300;
	background-color: #111;
	color: #EFEFEF;
	width: 100%;
	padding: 60px 30px 30px 30px;
	text-align: right;
	font-size: 60px;
}